.letterbox {
  background: rgb(221, 164, 169);
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  margin: 1px;
  margin-top: 3px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.letterbox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
  max-width: 70px;
  max-height: 70px;
  width: 15vw;
  height: 15vw;
}

.letterbox.keyHint {
  width: 50px;
  height: 65px;
}

.letterbox.keyHint.default {
  background: cornsilk;
}

.letterbox.function {
  width: 85px;
}

.letterbox.keyHint.empty {
  background: transparent;
  border: 0px transparent;
}

.letterbox.green {
  background: greenyellow;

}

.letterbox.yellow {
  background: yellow;
}

.letterbox.grey {
  background: grey;
}