* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  display: grid;
  justify-self: center;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#buildString {
  position:static;
  margin-top: 5%;
}

.board-input {
  display: grid;
  margin: auto;
  justify-items: center;
}


#root {
  max-width: 100vw;
  height: 100%;
  overflow: hidden;
}
.game {
  max-width: 100%;
  height: 100%;
  overflow: hidden;

}